{% extends 'base.html' %}

{% block head %}
    <title>Projects - Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css')}}">
{% endblock %}

{% block content %}

<div class="horizontal-layout">
    <h2>Your Projects</h2>
    <a href="{{ url_for('project.new') }}">+ Add</a>
</div>

{% if user_projects %}
    <div id="user_projects">
        {% for project in user_projects %}
        <div class="project">
            <a href="{{ url_for('project.project', id=project.id) }}">{{ project.name }}</a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No projects found. Start by creating a new project!</p>
{% endif %}

<h2>Participating Projects</h2>

{% if participating_projects %}
    <div id="participating_projects">
        {% for project in participating_projects %}
        <div class="project">
            <a href="{{ url_for('project.project', id=project.id) }}">{{ project.name }}</a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No projects found.</p>
{% endif %}


{% endblock %}